<!-- wp:template-part {"slug":"checkout-header","tagName":"header"} /-->

<!-- wp:woocommerce/page-content-wrapper {"page":"checkout"} -->
<!-- wp:group {"tagName":"main","className":"witryna-checkout","style":{"spacing":{"margin":{"top":"0"},"padding":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|70"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group witryna-checkout" style="margin-top:0;padding-top:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--70)"><!-- wp:woocommerce/store-notices /-->

<!-- wp:post-content {"align":"wide"} /--></main>
<!-- /wp:group -->
<!-- /wp:woocommerce/page-content-wrapper -->
