<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0"},"padding":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|70"},"blockGap":"var:preset|spacing|50"}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="margin-top:0;padding-top:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--70)"><!-- wp:group {"align":"wide","style":{"spacing":{"blockGap":"var:preset|spacing|30"}},"layout":{"type":"default"}} -->
<div class="wp-block-group alignwide"><!-- wp:query-title {"type":"search","fontSize":"xxx-large"} /-->

<!-- wp:pattern {"slug":"witryna/hidden-search"} /--></div>
<!-- /wp:group -->

<!-- wp:pattern {"slug":"witryna/hidden-posts-grid"} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->
